[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fbchat = "*"
pillow = "*"
gunicorn = "*"
flask = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.6"
